@{
    ViewData["Title"] = "Create";
}

<div class="container my-3">
    <h3>Slider image</h3>
    <form>
        <div class="form-group">
            <input type="file" multiple class="form-control">
        </div>
        <a asp-area="Admin" asp-controller="Slider" asp-action="Index" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>